/*--- Utility ---*/
html {
    scroll-behavior: smooth !important;
}

:root {
    --main-color: #ffffff80;
    --accent-color: #2060e0;
}
/*--- Navbar ---*/
nav {
    position: fixed !important;
    top: 0;
    width: 100%;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.75);
}

.logo {
    color: var(--accent-color) !important;
    font-weight: bold;
    margin-right: 30px !important;
}

.nav-link:hover {
    color: var(--accent-color) !important;
    transition-duration: .4s;
}

.navbar-toggler-icon{
    background-color: var(--accent-color);
}

/*--- Hero ---*/
.hero-img {
    background-image: url(/images/setup.jpg);
    background-position: center;
    background-size: cover;
    background-color: rgba(11, 8, 39, 0.8);
    background-blend-mode: multiply;
    background-attachment: fixed;
}

.name {
    font-size: 75px;
    color: var(--main-color);
    text-align: center;
}

.description {
    font-size: 30px;
    color: var(--main-color);
    padding-top: 25px;
}

.hero-accent {
    color: var(--accent-color);
}
/*--- About ---*/
.test {
    height: 350px;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.background-1 {
    background-color: #000000ee
}

#about {
    color: var(--main-color);
}

#about li {
    font-size: 25px;
    padding: 12px 0;
    list-style: none;
}

#about h1 {
    font-size: 55px;
    text-align: center;
    border-bottom: var(--accent-color) solid 1px;
}

#about p {
    font-size: 25px;
    text-align: left;
}

.li-title {
    color: var(--accent-color);
}

.interests {
    color: var(--main-color);
    text-align: center !important;
    font-size: 35px;
}

.icon-row {
    padding: 5px 25px;
    max-width: 1140px;
    width: 100%;
    padding-right: 45px;
    padding-left: 45px;
    margin-right: auto;
    margin-left: auto;
}

.icon {
    height: 85px;
    width: 85px;
    background-color: var(--accent-color);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #000000ee;
}

.icon:hover {
    border: black solid 3px;
}

@media (max-width:768px) {
    #about ul {
        padding-left: 0;
    }
    .interests {
        text-align: left !important;
        max-width: 540px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .icon-row {
        padding-left: 15px;
        padding-right: 15px;
    }
}